h1 {
	margin:0px; 
	padding-top:15px;
	padding-bottom: 3px;
	border-bottom: 5px solid grey;
	font-size: 1.9em;
	font-variant: small-caps;
	/*background-color: green;*/
}

h2 {
	font-size: 1.5em;
	/*background-color:green;*/
	margin:12px 0 0 0;
}

.col-8 p {
	text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
    margin:0;
}


.col-8 b {
	font-size:1.2em;
	/*background-color:yellow;*/
	margin:0;
}

#aboutMe {
	position: relative;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	/*background-color: lightblue;*/	
}

div.pieChartArea {
	position:relative;
    margin: 20px 0;
	width:100%;
	height:500px;
	padding:0px;
	border: 5px solid yellowgreen;
}


canvas {
	position:absolute;
	direction: 1tr;
	top: 0;
	left:0;
	background-color:yellow;
}


div.pieLable {
	position:absolute;
	top:0;
	left:50%;
	font-size: 1.6em;
	font-weight: bold;
	color:#3973ac;
	/*background-color: red;*/
}

a.schoolLink {
    color: #006699;
    text-decoration: none;
}
