body {
	margin: 0px;
	padding: 0px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}

.fixed-header {
	position:fixed;
	background-color:#3366cc;
	width:100%;
	height:70px;
	padding:0px;
	margin:0px;
	top:0px;
	z-index: 1;
}

img.profilePhoto {
	position: absolute;
	top:10px;
	left:10px;
}

a.topPageName {	
	text-decoration: none;
    font-size: 37px;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 90px;
    background-color: black;	
}


.content {
	position:relative;
	top: 70px;
	padding: 0px;
	margin: auto;
	width: 70%;
	height: 1500px;
	/*background-color: lightblue;*/
	overflow-y: auto;
}


.sideBar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: grey;
    position: fixed;
    top:70px;
    left:0%;
    overflow: auto;
}
.sideBar-li a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 26px;
}

.list-ul {
    list-style-type: square;
    list-style-position: inside;
    color:white;
    padding: 0px;
	margin: 0px;
    width: 15%;
    height: 100%;
    background-color: grey;
    position: fixed;
    top:70px;
    right: 0%;
    overflow: auto;
}

.list-li a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 26px;
}



.active {
	background-color:#262626;
	color: white;
}













/*
a:link.topPageName{
	color:white;
}



a:link {
	color:black
}

a:visited {
	color:grey
}

a:hover {
	color:green
}
*/




























