a.topPageName {	
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
	text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 100px;	
}


img.profilePhoto {
	position: absolute;
	top:10px;
	left:20px;
}



div.header {
	position:relative;
	background-color:#009983;
	width:100%;
	height:70px;
}


a:link.topPageName{
	color:white;
}


/*
a:link {
	color:black
}

a:visited {
	color:grey
}

a:hover {
	color:green
}
*/



body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}
